.k-grid .k-header .k-button, .k-scheduler .k-header .k-button, .k-scheduler .k-header li, .k-scheduler .k-header .k-link, .k-gantt>.k-header li, .k-gantt>.k-header .k-link, .k-gantt-toolbar .k-button, .km-pane-wrapper .k-header .k-button{
	    background-color: #50c0d4;
    border-color: #50c0d4;
}

.k-grid .k-header .k-button:hover, .k-scheduler .k-header .k-button:hover, .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover, .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link, .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover, .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link, .k-gantt .k-gantt-toolbar .k-button:hover, .km-pane-wrapper .k-header .k-button:hover{
	 background-image: none,-webkit-linear-gradient(top,#50c0d4 0,#50c0d4 100%); 
    border-color: white;
}

.k-button:focus:not(.k-state-disabled):not([disabled]) {
    -webkit-box-shadow: inset 0 0 0 1px #50c0d4;
    box-shadow: inset 0 0 0 1px #50c0d4;
}

.k-button:hover, .k-button.k-state-hover, .k-button:focus, .k-button.k-state-focused, .k-textbox:hover, .k-state-hover, .k-state-hover:hover, .k-pager-wrap .k-link:hover, .k-other-month.k-state-hover .k-link, div.k-filebrowser-dropzone em, .k-draghandle:hover {
    background-image: url('textures/highlight.png');
    /* background-image: none,-webkit-linear-gradient(top,#8ebc00 0,#8ebc00 100%); */
    background-image: none,-moz-linear-gradient(top,#50c0d4 0,#50c0d4 100%);
    background-image: none,-o-linear-gradient(top,#50c0d4 0,#50c0d4 100%);
    /* background-image: none,linear-gradient(to bottom,#8ebc00 0,#8ebc00 100%); */
}

.k-widget .k-button:active:hover, .k-widget .k-button.k-state-active:hover {
     color: white; 
    border-color: #ebebeb;
    background-color: #ebebeb;
}