<div class="container-fluid">
<div class="row">
<div class="col-sm-4">
            <table class="table table-bordered">
             <tr>
                    <td class="col-sm-2 sub-bgcolor">Iris Computers Limited - in %</td>
                    <td class="col-sm-2"><span data-bind="text:loanapproval.iriscomp"></span></td>
                </tr>
                <tr>
                    <td class="col-sm-2 sub-bgcolor">Savex  - in %</td>
                    <td class="col-sm-2"><span data-bind="text:loanapproval.savex"></span></td>
                </tr>
                <tr>
                    <td class="col-sm-2 sub-bgcolor">Rashi - in %</td>
                    <td class="col-sm-2"><span data-bind="text:loanapproval.rashi"></span></td>
                </tr>
                <tr>
                    <td class="col-sm-2 sub-bgcolor">Supertron - in %</td>
                    <td class="col-sm-2"><span data-bind="text:loanapproval.supertron"></span></td>
                </tr>
                <tr>
                    <td class="col-sm-2 sub-bgcolor">Compuage - in %</td>
                    <td class="col-sm-2"><span data-bind="text:loanapproval.compuage"></span></td>
                </tr>
                <tr>
                    <td class="col-sm-2 sub-bgcolor">Avnet - in %</td>
                    <td class="col-sm-2"><span data-bind="text:loanapproval.avnet"></span></td>
                </tr>
            </table>
</div>
</div>
</div>