<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="k-grid">
                <table class="custom-label table-bordered">
                    <tr>
                        <td class="col-sm-2 text-bold">Company Name</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.companyname"></span></td> 
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Login Date</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.logindate"></span></td> 
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Business Address</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.businessaddress"></span></td> 
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Location</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.location"></span></td> 
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Product</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.product"></span></td> 
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Lead Distributor</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.leaddistributor"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Business Segment</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.businesssegment"></span></td> 
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Business Since</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.businesssince"></span></td> 
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Internal Rating</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.internalrating"></span></td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Credit Analyst</td>
                        <td class="col-sm-4"><span data-bind="text:loanapproval.creditanalyst"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Scheme</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanSummary.scheme"></span></td>
                        <td class="table-divider"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>