<div class="panel ez no-padding hardcore">
   <div class="panel-heading">
   </div>
   <div class="panel-body">
      <div class="row">
         <div class="col-sm-12">
            <div class="row">
               <div class="col-sm-12">
                  <div class="panel ez no-padding hardcore">
                     <div class="panel-heading">
                        <h5 class="text-bold">Verifications as per policy - Due Diligence</h5>
                     </div>
                     <div class="panel-body">
                        <div class="row">
                           <div class="col-sm-12">
                              <table class="table table-bordered">
                                 <tr>
                                    <td class="text-center">Check Particulars</td>
                                    <td class="text-center">Result (P/N)</td>
                                    <td class="text-center">Mitigants in Case of Negative Result</td>
                                 </tr>
                                 <tr>
                                    <td>BIFR HISTORY</td>
                                    <td>
                                       <div class="form-group">
                                          <select class="form-control">
                                             <option>POSITIVE</option>
                                             <option>NEGATIVE</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td>Mapping as per info filled in corresponding field in Compliance Check Sub-Section of Due Diligence form</td>
                                 </tr>
                                 <tr>
                                    <td>CORPORATE DEBT RESTRUCTURING HISTORY</td>
                                    <td><div class="form-group">
                                          <select class="form-control">
                                             <option>POSITIVE</option>
                                             <option>NEGATIVE</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td>LEGAL HISTORY OF COMPANY AND PROMOTERS</td>
                                    <td><div class="form-group">
                                          <select class="form-control">
                                             <option>POSITIVE</option>
                                             <option>NEGATIVE</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td>CIBIL REPORT</td>
                                    <td><div class="form-group">
                                          <select class="form-control">
                                             <option>POSITIVE</option>
                                             <option>NEGATIVE</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td>ROC SEARCH IN CASE COMPANY</td>
                                    <td><div class="form-group">
                                          <select class="form-control">
                                             <option>POSITIVE</option>
                                             <option>NEGATIVE</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td>DIFFERENT DESKTOP SEARCH (GOOGLE SEARCH, WATCHOUT INVESTOR LIST)</td>
                                    <td><div class="form-group">
                                          <select class="form-control">
                                             <option>POSITIVE</option>
                                             <option>NEGATIVE</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td></td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="panel ez no-padding hardcore">
                     <div class="panel-heading">
                        <h5 class="text-bold">APPEARANCE IN DEFAULTER LIST</h5>
                     </div>
                     <div class="panel-body">
                        <div class="row">
                           <div class="col-sm-12">
                              <table class="table table-bordered">
                                 <tr>
                                    <td class="text-center">SOURCE</td>
                                    <td class="text-center">APPLICABLE</td>
                                    <td class="text-center">BANK NAME</td>
                                    <td class="text-center">DATE</td>
                                    <td class="text-center">AMOUNT (IN CR.)</td>
                                    <td class="text-center">CURRENT STATUS</td>
                                 </tr>
                                 <tr>
                                    <td class="color">CIBIL</td>
                                    <td class="text-center">NO</td>
                                    <td>Mapping as per info filled in corresponding field in Defaulter List Sub-Section of Due Diligence form</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="color">EQUIFAX</td>
                                    <td class="text-center">NO</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="color">HIGH MARK</td>
                                    <td class="text-center">NO</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="color">EXPERIAN</td>
                                    <td class="text-center">NO</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="color">RBI DEFAULTER LIST</td>
                                    <td class="text-center">NO</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                              </table>
                           </div>
                           <div class="col-sm-12">
                              <table class="table table-bordered">
                                 <tr>
                                    <td class="text-center">RISKS / CONCERNS</td>
                                    <td class="text-center">MITIGANTS</td>
                                 </tr>
                                 <tr>
                                    <td>Mapped as per corresponding fields in Loan Approval form</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Same Logic</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Same Logic</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Same Logic</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Same Logic</td>
                                    <td>Same Logic</td>
                                 </tr>
                              </table>
                           </div>
                           <div class="col-sm-12">
                              <table class="table table-bordered">
                                 <tr>
                                    <td class="text-center" colspan="2">FINAL COMMENT FROM CREDIT ANALYST</td>
                                 </tr>
                                 <tr>
                                    <td>Amount Recommeded</td>
                                    <td>Mapped as per corresponding fields in Loan Approval form</td>
                                 </tr>
                                 <tr>
                                    <td>Basis of Recommendation (Minimum 5 points)</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Recommended Sanction Condition</td>
                                    <td>Same Logic</td>
                                 </tr>
                              </table>
                           </div>
                           <div class="col-sm-12">
                              <table class="table table-bordered">
                                 <tr>
                                    <td class="text-center" colspan="2">FINAL SANCTION CONDITIONS BY DECISION COMMITTEE:</td>
                                 </tr>
                                 <tr>
                                    <td>Date</td>
                                    <td>Mapped as per corresponding fields in Loan Approval form</td>
                                 </tr>
                                 <tr>
                                    <td>Amount</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>ROI</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>PF</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>PG</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Security</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Other Conditions</td>
                                    <td>Same Logic</td>
                                 </tr>
                                 <tr>
                                    <td>Committee Remarks</td>
                                    <td>Same Logic</td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
