<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="k-grid">
                <table class="custom-label table-bordered">
                    <tr>
                        <td class="col-sm-2 text-bold">Proposed Limit Amount (Rs.Lacs)</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.proposedLimitAmount"></span></td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">If Existing Customer</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.ifExistingCustomer"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Proposed Rate Of Interest (ROI)</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.proposedROI"></span></td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">If Yes, Existing Limit Amount</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.ifYesExistingLimitAmount"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Proposed Pro Fee %</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.proposedProFee"></span></td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Existing ROI</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.existingROI"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Limit Tenor (Months)</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.limitTenor"></span></td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Existing Processing Fee</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.existingProcessingFee"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">PO Backed</td>
                        <td class="col-sm-4" data-bind="text:loanApproval.loanDetail.poBacked">&nbsp;</td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">First Agreement Date</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.firstAgreementDate"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Project PO Value</td>
                        <td class="col-sm-4" data-bind="text:loanApproval.loanDetail.projectPOValue">&nbsp;</td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Vintage With X10 (Months)</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.vintageWithX10"></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Expected Payment from Project (120 Days)</td>
                        <td class="col-sm-4" data-bind="text:loanApproval.loanDetail.expectedPayment">&nbsp;</td>
                        <td class="table-divider"></td>
                        <td class="col-sm-2 text-bold">Recent Agreement Date</td>
                        <td class="col-sm-4"><span data-bind="text:loanApproval.loanDetail.recentAgreementDate"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>