<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="k-grid k-widget">
                <table>
                    <thead class="k-grid-header">
                        <tr>
                            <th colspan="5" class="sub-bgcolor k-header ">
                                Distributor / Vendor Payment Track
                            </th>
                            <th class="table-divider"></th>
                            <th colspan="2" class="sub-bgcolor k-header ">
                                X10 Finance Existing Customer Payment Track
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="col-sm-2 text-bold">Max Delay Days</td>
                        <td class="col-sm-2 datacol right"><span data-bind="text:loanapproval.maxdelaydays"></span></td>
                        <td class="table-divider" rowspan="5"></td>
                        <td class="col-sm-2 text-bold">Average Transaction Weigthed Payment Delay Days</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.averagetransactionpaymentdelay"></span></td>
                        <th class="table-divider"></th>
                        <td class="col-sm-2 text-bold">Average Utilization Of Existing Limit</td>
                        <td class="col-sm-2 right"><span data-bind=""></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Max Payment Days</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.maxpaymentdays"></span></td>
                        <td class="col-sm-2 text-bold">Standard Deviation</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.delaystandarddeviation"></span></td>
                        <th class="table-divider"></th>
                        <td class="col-sm-2 text-bold">Max DPD in Closed Loan in Days</td>
                        <td class="col-sm-2 right"><span data-bind=""></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Average Delay Days (Avg)</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.averagedelaydays"></span></td>
                        <td class="col-sm-2 text-bold">Average Transaction Weighted Payment Days</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.averagetransactionpayment"></span></td>
                        <th class="table-divider"></th>
                        <td class="col-sm-2 text-bold">Number Of Instance Of Delay Payment of Princial Repayment</td>
                        <td class="col-sm-2 right"><span data-bind=""></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Standard Deviation</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.standarddeviation"></span></td>
                        <td class="col-sm-2 text-bold">Standard Deviation</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.daystandarddeviation"></span></td>
                        <th class="table-divider"></th>
                        <td class="col-sm-2 text-bold">Number Of Instances Of Early Closure Of Principal Repayment</td>
                        <td class="col-sm-2 right"><span data-bind=""></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Average Payment Days</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.averagepaymentdays"></span></td>
                        <td class="col-sm-2 text-bold">Amount Of Business Done in Last 12 Months With Lead Distributor in Lacs</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanapproval.amountofbusiness"></span></td>
                        <th class="table-divider"></th>
                        <td class="col-sm-2 text-bold">Number Of Instances If Payment On Due Date</td>
                        <td class="col-sm-2 right"><span data-bind=""></span></td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 text-bold">Average Delay Days (Highest)</td>
                        <td class="col-sm-2 right"><span data-bind="text:loanApproval.paymentTrack.highestAverageDelay"></span></td>
                        <td class="dummy-td"></td>
                        <td class="dummy-td"></td>
                        <td class="dummy-td"></td>
                        <td class="dummy-td"></td>
                        <td class="dummy-td"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>