<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="k-grid col-sm-6 no-padding">
                <table class="table-bordered">
                    <tr>
                        <td class="col-sm-4">Market Reference</td>
                        <td class="col-sm-8">
                            <center><span data-bind="text:loanapproval.marketref"></span></center>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="referencecheckgrid"></div>
        </div>
    </div>
</div>