<script src="/static/core/detailsofpromotersdirectorsguarantors.js"></script>
<script type="text/javascript">
  function changeownership(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    detail.biodata()[i].Ownership = e.item.context.innerHTML
  }

  function changedesignation(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    detail.biodata()[i].Designation = e.item.context.innerHTML
  }

  function changegender(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    gender = "F"
    if(e.item.context.innerHTML == "Male"){
      gender = "M"
    }
    detail.biodata()[i].Gender = gender
  }

  function changemaritalstatus(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    MaritalStatus = "M"
    if(e.item.context.innerHTML == "Single"){
      MaritalStatus = "S"
    }
    detail.biodata()[i].MaritalStatus = MaritalStatus
  }

  function changeguarantor(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    guarantor = false
    if(e.item.context.innerHTML == "Yes"){
      guarantor = true
    }
    detail.biodata()[i].Guarantor = guarantor
  }

  function changedirector(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    Director = false
    if(e.item.context.innerHTML == "Yes"){
      Director = true
    }
    detail.biodata()[i].Director = Director
  }

  function changepromotor(e, i){
    // console.log(e.item.context.innerHTML)
    // console.log(i)
    Promotor = false
    if(e.item.context.innerHTML == "Yes"){
      Promotor = true
    }
    detail.biodata()[i].Promotor = Promotor
  }

  function changeDateOfBirth(e,i){
    // console.log(e)
    // console.log(i)
    detail.biodata()[i].DateOfBirth = e
  }

  function changeAnniversaryDate(e,i){
    // console.log(e)
    // console.log(i)
    detail.biodata()[i].AnniversaryDate = e
  }

  function changeshareholding(e,i){
    // console.log(e)
    // console.log(i)
    detail.biodata()[i].ShareHoldingPercentage = e
  }

</script>
<div data-bind="with: detail">
  <ul class="collapsible" data-collapsible="accordion">
    <li class="panel">
      <!-- <div class="panel-heading"><h5 class="no-margin">Biodata</h5></div> -->
      <div class="panel-body">
        <div class="row">
          <!-- <div class="panel-body"> -->
            <!-- <div class="panel-body">
              <button class="btn btn-sm btn-flat btn-success" data-bind="click: addbiodata">Add</button>
            </div> -->
            <div data-bind="foreach: biodata">
              <div class="panel panel-default">
                <div class="panel-body">

                  <form id="biodata" class="col-sm-12">
                    <div class="col-sm-2">
                      <img id="imgCustomerProfile" src="/static/img/no-image.png" />
                       <input id="input-1" type="file" class="file" name="fotoProfileCustomer" id="fotoProfileCustomer" accept="image/jpeg, image/png" data-bind="value: detail.biodata()[$index()].fotoprofilecustomer" onchange="readURL(this)">
                    </div>
                    <div class="col-sm-5">
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Name :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="name" name="name" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Name" validationMessage="Name required" required/>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Father’s/Spouse Name :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" class="form-control input-sm" id="fathername" name="fathername" data-bind="value: detail.biodata()[$index()].FatherName" validationMessage="Father's Name required" required/>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Gender :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input  type="checkbox" data-bind="detail.biodata()[$index()].gender, attr: {id: 'gender'+ $index()}" data-off-text="Female" data-on-text="Male" checked="false" id="gender"> -->
                          <select id="genderdropdown" data-bind="kendoDropDownList: { value: detail.biodata()[$index()].Gender, data: detail.genderList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select one', select:function(e){ changegender(e, $index()) }}"></select>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Date of Birth :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="datebirth" data-bind="kendoDatePicker: {value: detail.biodata()[$index()].DateOfBirth, format: 'dd-MM-yyyy', change:function(){ changeDateOfBirth(this.value(), $index()) }}" required>
                          <span class="k-invalid-msg" data-for="datebirth"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Marital Status :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input type="checkbox" data-bind="value: detail.biodata()[$index()].ismaried,  attr: {id: 'ismaried'+ $index()}" data-off-text="Maried" data-on-text="Single" checked="false"> -->
                          <select id="Martialdropdown" data-bind="kendoDropDownList: { value: detail.biodata()[$index()].MaritalStatus, data: detail.maritalStatusList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select one', select:function(e){ changemaritalstatus(e, $index()) }}"></select>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Anniversary Date :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="anniversarrydate" data-bind="kendoDatePicker: {value: detail.biodata()[$index()].AnniversaryDate, format: 'dd-MM-yyyy', change:function(){ changeAnniversaryDate(this.value(), $index()) }}" required>
                          <span class="k-invalid-msg" data-for="datebirth"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Shareholding Percentage :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="holdingpercent" data-bind="kendoNumericTextBox: {value: detail.biodata()[$index()].ShareHoldingPercentage, format: '#.00 \\%', change:function(){ changeshareholding(this.value(), $index()) }}" required>
                          <span class="k-invalid-msg" data-for="holdingpercent"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Guarantor :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input data-bind="value: detail.biodata()[$index()].guarantor, attr: {id: 'guarantor'+ $index()}" type="checkbox" data-off-text="No" data-on-text="Yes" checked="false"> -->
                          <select id="Guarantodropdown" data-bind="kendoDropDownList: { value: detail.biodata()[$index()].Guarantor, data: detail.guarantorList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select one', select:function(e){ changeguarantor(e, $index()) }}"></select>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Director :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input data-bind="value: detail.biodata()[$index()].guarantor, attr: {id: 'guarantor'+ $index()}" type="checkbox" data-off-text="No" data-on-text="Yes" checked="false"> -->
                          <select id="Guarantodropdown" data-bind="kendoDropDownList: { value: detail.biodata()[$index()].Director, data: detail.guarantorList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select one', select:function(e){ changedirector(e, $index()) }}"></select>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Promotor :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <!-- <input data-bind="value: detail.biodata()[$index()].guarantor, attr: {id: 'guarantor'+ $index()}" type="checkbox" data-off-text="No" data-on-text="Yes" checked="false"> -->
                          <select id="Guarantodropdown" data-bind="kendoDropDownList: { value: detail.biodata()[$index()].Promotor, data: detail.guarantorList, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select one', select:function(e){ changepromotor(e, $index()) }}"></select>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Educational Qualification :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="education" name="education" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Education" validationMessage="education required" required/>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Designation :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="designation" name="designation" data-bind="kendoDropDownList: {value:detail.biodata()[$index()].Designation, data: detail.desain, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select designation', select:function(e){ changedesignation(e, $index()) }}" required>
                          <span class="k-invalid-msg" data-for="designation"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">PAN Number:</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="pan" name="pan" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].PAN" validationMessage="PAN required" required  />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Residence Address :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="address" name="address" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Address" validationMessage="Address required" required  />
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Landmark :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="landmark" name="landmark" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Landmark" validationMessage="Landmark required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">City :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="city" name="city" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].City" validationMessage="City required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">State :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="state" name="state" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].State" validationMessage="State required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Pin Code :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="pincode" name="pincode" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Pincode" validationMessage="Pincode required" required  />
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Tel1 :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="phone" name="phone" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Phone" validationMessage="Phone required" required/>
                        </div>
                      </div>

                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Moblie Number :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="hp" name="hp" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Mobile" validationMessage="Mobile NUmber required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Ownership :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="ownership" name="ownership" data-bind="kendoDropDownList: {value: detail.biodata()[$index()].Ownership, data: detail.ownershiplist, dataTextField: 'text', dataValueField: 'value', optionLabel: 'Select ownership', select:function(e){ changeownership(e, $index()) }}" required>
                          <span class="k-invalid-msg" data-for="ownership"></span>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">No. of Years in this Address :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="noyear" name="noyear" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].NoOfYears" validationMessage="No. of Years required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Market Value :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="valueplot" name="valueplot" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].ValueOfPot" validationMessage="Value of Plot required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Vehicles Owned :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="vehiclesowned" name="vehiclesowned" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].VehiclesOwned" validationMessage="Vehicles Owned required" required  />
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">Net Worth :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="networth" name="networth" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].NetWorth" validationMessage="Net Worth required" required  />
                        </div>
                      </div>
                       <div class="col-sm-12 form-group">
                        <div class="col-sm-4 widthlable">
                          <label for="Acc" class="control-label">E-mail :</label>
                        </div>
                        <div class="col-sm-8 widthfield">
                          <input type="text" id="email" name="email" class="form-control input-sm" data-bind="value: detail.biodata()[$index()].Email" validationMessage="Email required" required  />
                        </div>
                      </div>
                    </div>
                  </form>

                  <!--ko if: $data.PropertyOwned != null-->
                  <div class="col-sm-12">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10" style="padding-left: 30px; padding-right: 30px;">
                      <label class="control-label" style="margin-right: 28px">Other Property (Owned) Details: </label>
                      <button class="btn btn-xs btn-success btnop" style="padding: 5px 10px !important" data-bind="visible:editmode(),click: function(){addOPD($index(), $index())}">add</button>
                      <br><br>
                      <table class="table table-bordered" width="100%" data-bind="visible: ($data.PropertyOwnedkendo != undefined && $data.PropertyOwnedkendo().length > 0)">
                        <thead>
                          <tr>
                            <th class="header-bgcolor" style="text-align: center;">Property Type</th>
                            <th class="header-bgcolor" style="text-align: center;width: 60%;">Address</th>
                            <th class="header-bgcolor" style="text-align: center;">Market Value (Rs. Lacs)</th>
                            <th class="header-bgcolor" style="text-align: center;"></th>
                          </tr>
                        </thead>
                        <tbody data-bind="foreach: $data.PropertyOwnedkendo">
                          <tr>
                            <td style="padding: 2px;"><input class="form-control input-sm" data-bind="value: PropertyType"></td>
                            <td style="padding: 2px;"><input class="form-control input-sm" data-bind="value: Address"></td>
                            <td style="padding: 2px;"><input type="number" class="form-control input-sm" data-bind="value: MarketValue"></td>
                            <td style="width: 30px;padding: 2px;">
                             <!--ko if: $index() > 0 -->
                            <button class="btn btn-xs btn-danger btnop" style="padding:  5px 10px !important" data-bind="visible: editmode(),click: function(){deleteOPD( $parentContext.$index(), $index() )}"><span class="fa fa-trash-o fa-lg"></span></button>
                          <!-- /ko -->

                            <!-- <button class="btn btn-sm btn-success btnop" style="padding: 5px 10px !important" data-bind="visible: ($index() == 0  && editmode()),click: function(){addOPD($parentContext.$index(), $index() )}"><i class="fa fa-plus"></i></button> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /ko -->

                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </li>
    <li class="panel">
      <div class="panel-heading"><h5 class="no-margin">Details of Reference</h5></div>
      <div class="panel-body">
        <div class="row">
          <!-- <div class="panel-body"> -->
            <!-- <div class="panel-body">
              <button class="btn btn-sm btn-flat btn-success" data-bind="click: addRefrence">Add</button>
            </div> -->
            <form id="biodata">
              <div data-bind="foreach: detailReference">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div data-bind="foareach: detailReference">
                        <div class="panel-body">
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Name :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="text" id="namedetail" name="Name" class="form-control input-sm" data-bind="value: detail.detailReference()[$index()].Name" validationMessage="Name required" required/>
                            </div>
                          </div>
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Address :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="text" id="addressdetail" name="Address" class="form-control input-sm" data-bind="value: detail.detailReference()[$index()].Address" validationMessage="Name required" required/>
                            </div>
                          </div>
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Contact no :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="text" id="contactdetail" name="ContactNo" class="form-control input-sm" data-bind="value: detail.detailReference()[$index()].ContactNo" validationMessage="Contact no required" required/>
                            </div>
                          </div>
                          <div class="col-sm-12 form-group">
                            <div class="col-sm-4 widthlable">
                              <label for="Acc" class="control-label">Relation of Applicant :</label>
                            </div>
                            <div class="col-sm-8 widthfield">
                              <input type="text" id="relationdetail" name="RelationAplicant" class="form-control input-sm" data-bind="value: detail.detailReference()[$index()].RelationAplicant" validationMessage="Contact no required" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </form>
          <!-- </div> -->
        </div>
      </div>
    </li>
  </ul>
</div>