<div class="row" data-bind="with: dataEntryCibilReport">
  <div class="col-md-12 cibilgridfixed">
    <div style="margin: 10px;" id="cibilgrid-container">
      <table class="k-grid table-bordered" style="margin-bottom: 0px;" id="tblCibilReportSumarry1">
        <thead>
          <tr><th colspan="6">Report Summary</th></tr>
        </thead>
        <tbody>
          <tr>
            <td class="sub-bgcolor">No. of Credit Grantors</td>
            <td style="width: 60px;"><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" name="noCreditGrantors" class="form-control input-sm" data-bind="value:ReportSummary().Grantors"></td>
            <td class="sub-bgcolor">No. of Credit Facilities</td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" name="noCreditFacilities" class="form-control input-sm" data-bind="value:ReportSummary().Facilities"></td>
            <td class="sub-bgcolor">No. of Closed Credit Facilities</td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" name="noClosedCreditFacilities" class="form-control input-sm" data-bind="value:ReportSummary().CreditFacilities"></td>
          </tr>
          <tr>
            <td class="sub-bgcolor">No. of Credit Facilities <br>Guaranteed by Others</td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" name="noCreditFacilitiesGrantorsGuarantedOther" class="form-control input-sm" data-bind="value:ReportSummary().FacilitiesGuaranteed"></td>
            <td class="sub-bgcolor">Lastes Credit Facility Open Date</td>
            <td><input type="text" name="noCreditFacilities" class="form-control input-sm" data-bind="kendoDatePicker:{value:ReportSummary().LatestCreditFacilityOpenDate, format: 'dd-MMM-yyyy'}"></td>
            <td class="sub-bgcolor">First Credit Facility Open Date</td>
            <td><input type="text" name="noClosedCreditFacilities" class="form-control input-sm" data-bind="kendoDatePicker:{value:ReportSummary().FirstCreditFacilityOpenDate, format: 'dd-MMM-yyyy'}"></td>
          </tr>
        </tbody>
      </table>

      <table class="k-grid table-bordered" style="margin-bottom: 0px;" id="tblCibilReportSumarry2">
        <thead>
          <tr>
            <th class="sub-bgcolor text-center" style="min-width: 94px;">Credit Facilities</th>
            <th class="sub-bgcolor text-center">No. of Standard</th>
            <th class="sub-bgcolor text-center">Current Balance in Standard</th>
            <th class="sub-bgcolor text-center">No. of Other than Standard</th>
            <th class="sub-bgcolor text-center">Current Balance in Other than Standard</th>
            <th class="sub-bgcolor text-center">No. of Law Suits</th>
            <th class="sub-bgcolor text-center">No. of Wilful Defaults</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: DetailReportSummary">
          <tr>
            <td class="sub-bgcolor text-center" data-bind="text: CreditFacilities" >As Borrower</td>
            <td><input type="text" class="form-control input-sm onlyNumb" data-bind="value:CurrentBalanceOtherThanStandard"></td>
            <td><input type="text" class="form-control input-sm onlyNumb" data-bind="value:CurrentBalanceStandard"></td>
            <td><input type="text" class="form-control input-sm onlyNumb" data-bind="value:NoOfLawSuits"></td>
            <td><input type="text" class="form-control input-sm onlyNumb" data-bind="value:NoOfOtherThanStandard"></td>
            <td><input type="text" class="form-control input-sm onlyNumb" data-bind="value:NoOfStandard"></td>
            <td><input type="text" class="form-control input-sm onlyNumb" data-bind="value:NoOfWilfulDefaults"></td>
          </tr>
        </tbody>
      </table>
      <div class="spacer"></div>
      <table class="k-grid table-bordered" style="margin-bottom: 0px;" id="tblCibilCreditTypeSummary">
        <thead>
          <tr><th colspan="10">Credit Type Summary</th></tr>
        </thead>
        <thead>
          <tr style="text-align: center;">
            <th class="sub-bgcolor text-center" rowspan="2">No. of Credit Facilities As Borrower</th>
            <th class="sub-bgcolor text-center" rowspan="2">Credit Type</th>
            <th class="sub-bgcolor text-center" rowspan="2">Currency Code</th>
            <th class="sub-bgcolor text-center" colspan="5" style="text-align: center !important;">Asset Classification</th>
            <th class="sub-bgcolor text-center" rowspan="2">Current Balance</th>
            <th class="sub-bgcolor text-center" rowspan="2">Action</th>
          </tr>
          <tr>
            <th class="sub-bgcolor text-center" style="min-width: 100px">Standard</th>
            <th class="sub-bgcolor text-center" style="min-width: 100px">Sub - Standard</th>
            <th class="sub-bgcolor text-center" style="min-width: 100px">Doubtful</th>
            <th class="sub-bgcolor text-center" style="min-width: 100px">Loss</th>
            <th class="sub-bgcolor text-center" style="min-width: 110px">Special Mention A/C</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: CreditTypeSummary">
          <tr>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:NoCreditFacilitiesBorrower"></td>
            <td><textarea data-bind="value:CreditType" ></textarea></td>
            <td><input type="text" class="form-control input-sm" data-bind="value:CurrencyCode"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:Standard" ></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:Substandard"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:Doubtful"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:Loss"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:SpecialMention"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:TotalCurrentBalance"></td>
            <td><button class="btn btn-sm btn-danger" data-bind="click:cibil.removeCreditTypeSummary, visible:$index() > 0"><span class="fa fa-remove"></span></button></td>
          </tr>
        </tbody>
      </table>
      <br>
      <button class="btn btn-sm btn-success" onclick="cibil.addCreditTypeSummary()"><span class="fa fa-plus"></span> Add Row</button>
      <br>
      <br>
      <table class="k-grid table-bordered" style="margin-bottom: 0px;" id="tblCibilCreditTypeSummary">
        <thead>
          <tr><th colspan="9">Enquiry Summary</th></tr>
        </thead>
        <thead>
          <tr>
            <th class="sub-bgcolor text-center">Enquiry</th>
            <th class="sub-bgcolor text-center" style="width:68px">3 Months</th>
            <th class="sub-bgcolor text-center" style="width:68px">6 Months</th>
            <th class="sub-bgcolor text-center" style="width:68px">9 Months</th>
            <th class="sub-bgcolor text-center" style="width:68px">12 Months</th>
            <th class="sub-bgcolor text-center" style="width:68px">24 Months</th>
            <th class="sub-bgcolor text-center" style="width:68px">>24 Months</th>
            <th class="sub-bgcolor text-center">Total</th>
            <th class="sub-bgcolor text-center" style="min-width:100px">Most Recent Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="th">No. of Enquiries</td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm calculateMonth" data-bind="value:EnquirySummary().Enquiries3Month"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm calculateMonth" data-bind="value:EnquirySummary().Enquiries6Month"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm calculateMonth" data-bind="value:EnquirySummary().Enquiries9Month"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm calculateMonth" data-bind="value:EnquirySummary().Enquiries12Month"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm calculateMonth" data-bind="value:EnquirySummary().Enquiries24Month"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm calculateMonth" data-bind="value:EnquirySummary().EnquiriesThan24Month"></td>
            <td><input type="number" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" class="form-control input-sm" data-bind="value:EnquirySummary().TotalEnquiries" ></td>
            <td style="width: 120px;"><input type="text" class="form-control input-sm" data-bind="kendoDatePicker:{value:EnquirySummary().MostRecentDate, format: 'dd-MMM-yyyy'}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <div style="text-align: center">
      <button class="btn btn-sm btn-primary" onclick="saveCibilReport('submit')">
      <span class="glyphicon glyphicon-ok"></span>&nbsp;
      Submit Details</button> &nbsp;
      <button class="btn btn-sm btn-primary" onclick="saveCibilReport('save')">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;
      Save Draft</button>&nbsp;&nbsp;
      <button class="btn btn-sm btn-warning" onclick="backToMain();">
      <span class="glyphicon glyphicon-share-alt"></span>&nbsp;
       Cancel</button>
    </div>
  </div>
</div>
