<style type="text/css">
  
</style>

<div data-bind="foreach: promotorsList">
  <div class="panel ez no-padding hardcore nopad-left-right margin-promotor">
    <div class="panel-body no-padding">
      <div class="col-md-12 nopad-left-right">
        <div class="panel col-md-12 widthlable header-bgcolor" style="text-align: center;">
          <label for="Acc" class="control-label" data-bind="text: toTitleCase(Name)" style="padding-top:5px; ">Individual</label>
        </div>
      </div>
      <!-- <div class="panel ez no-padding hardcore"> -->
        <!-- <div class="panel-body"> -->
      <div class="col-md-12">
        <br>
        <div class="col-md-5">
        </div>
        <div class="col-md-12">
          <div class="ez no-padding hardcore nopad-left-right">
            <div class="panel-body no-padding">
              <div class="col-md-12 nopad-left-right">
                <div class="col-md-12 widthlable" style="margin-top: -20px; background-color: #f0f3f4; border: #0B7A75 solid 1px; text-align:center;">
                  <label for="Acc" class="control-label" style="padding-top:5px;" data-bind="text: toTitleCase(promotorText)  "  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <br>
        <div class="col-md-6">
          <label for="Acc" class="control-label" style="margin-top:5px;"><span class="pull-right">Score :</span></label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control input-sm" id="custname" name="custname" data-bind="value: Score, enable: hasEnabledScoring"/>
        </div>
      </div>

      <div class="col-md-12">
      <br>
        <div class="col-md-6">
          <button class="btn btn-sm btn-details tooltipster" title="show more" style="width:100%" data-bind="attr: {'id': 'panel'+$index()}">Show Details</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-sm btn-confirm tooltipster" title="confirm detail" style="width:100%" data-bind="click: changeEnabledScoring,text: textButtonDetail" name="btn-guarantor"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        </div>
      </div>

        <!-- </div> -->
      <!-- </div> -->

    </div>
  </div>
</div>