
<script type="text/javascript">
model.PageTopMenu("Data Masters");
model.PageId('{{.Menuname}}');
model.BreadCrumbs.push(new BreadCrumb("Data Masters","Configuration Masters", "", "", ""));
model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
model.Access = ko.observable('{{.Menuid}}');
model.View = ko.observable('{{.View}}');
model.Create= ko.observable('{{.Create}}');
model.Delete= ko.observable('{{.Delete}}');
model.Process= ko.observable('{{.Process}}');
model.Edit= ko.observable('{{.Edit}}');
model.User= ko.observable('{{.Username}}');
</script>


<script src="/static/tokenfield/typeahead.bundle.min.js"></script>
<script src="/static/tokenfield/bootstrap-tokenfield.js"></script>
<link rel="stylesheet" href="/static/tokenfield/bootstrap-tokenfield.css">
<link rel="stylesheet" href="/static/tokenfield/tokenfield-typeahead.css">

<script src="/static/core/keypolicynorms.js"></script>

<style>
	.grid {
		font-family: 'Source Sans Pro', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	}
	.grid .k-alt {
		background-color: transparent !important;
	}
	.grid td {
	    white-space: inherit;
	}
	.grid .row-section {
		font-weight: bold;
		font-size: 20px;
	}
	.grid .row-sub-section {
		font-weight: bold;
		font-size: 16px;
	}
	.grid .row-section td:not(:first-child),
	.grid .row-sub-section td:not(:first-child) {
		border-left-color: transparent;
	}
	.grid tr.row-formula {
	    background-color: rgba(92, 184, 92, 0.83) !important;
	    color: white;
	}

	.btn.btn-tag {
		background-color: #f9f9f9;
	    border: none;
	    pointer-events: none;
	}
	.btn.btn-tag.btn-primary {
	    color: #337ab7;
	}
	.btn.btn-tag.btn-success {
		color: #5cb85c;
	}
	.btn.btn-tag.btn-warning {
		color: #f0ad4e;
	}
	.btn.btn-tag.btn-info {
		color: #5bc0de;
	}

	.modal-financial .modal-dialog {
		width: 1000px;
	}
</style>

<div>
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="panel ez">
			<div class="panel-heading"><h4 data-bind="html: model.currentTitle()" style="margin-top: 4px">&nbsp;</h4></div>
			<div class="panel-body" >
				<div class="controls" style="text-align: right;">
					<button class="btn btn-sm btn-primary" data-bind="click: formula.showModalFinancial">Add New</button>
					<button class="btn btn-sm btn-primary" data-bind="click: formula.refresh">Refresh</button>
				</div>

				<div class="form-container" style="padding-top: 10px;">
					<div class="grid"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade modal-financial">
	<div class="modal-dialog">
		<div class="modal-content" data-bind="with: formula.financial">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">
					<span data-bind="text: (formula.financialIsNew() ? 'New' : 'Edit')"></span>
					Norm
				</h4>
			</div>

			<div class="modal-body" style="border-bottom: 1px solid rgba(229, 229, 229, 0.3);">
				<div class="row">
		    		<div class="form-group">
			    		<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Select source</label>
				        	<div class="col-sm-8">
			        			<select style="width: 100%;" data-bind="kendoDropDownList: { data: formula.optionFrom, dataValueField: 'name', dataTextField: 'name', value: From, optionLabel: 'Select one', change: formula.changeFrom }"></select>
				        	</div>
				        	<div class="clearfix"></div>
				        </div>

			    		<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Select field</label>
				        	<div class="col-sm-8">
			        			<select style="width: 100%;" data-bind="kendoDropDownList: { filter: 'contains', data: formula.optionFields, dataValueField: 'alias', dataTextField: 'name', value: FieldId, optionLabel: 'Select one', change: formula.selectField }"></select>
				        	</div>
				        	<div class="clearfix"></div>
				        </div>

			    		<!-- <div class="col-sm-6" data-bind="style: { visibility: (formula.optionSubSection().length > 0) ? 'visible' : 'hidden' }">
				            <label class="col-sm-4 form-label align-right">Select sub section</label>
				        	<div class="col-sm-8">
			        			<select style="width: 100%;" data-bind="kendoDropDownList: { filter: 'contains', data: formula.optionSubSection, value: formula.selectedSubSection, optionLabel: 'Select one' }"></select>
				        	</div>
				        	<div class="clearfix"></div>
				        </div> -->

			        	<div class="clearfix"></div>
		            </div>

		    		<div class="form-group no-margin">
			    		<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Criteria</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: Criteria" />
				        	</div>
				        	<div class="clearfix"></div>
				        </div>

				        <div class="clearfix"></div>
				    </div>
				</div>
			</div>

			<div class="modal-body" style="border-bottom: 1px solid rgba(229, 229, 229, 0.3);">
				<div class="row">
		    		<div class="form-group no-margin">
			    		<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Internal Rating</label>
				        	<div class="col-sm-8">
			        			<select style="width: 100%;" data-bind="kendoDropDownList: { filter: 'contains', data: formula.dataInternalRating, dataValueField: 'Id', dataTextField: 'Name', value: InternalRating }"></select>
				        	</div>
				        	<div class="clearfix"></div>
				        </div>

			    		<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Product Category</label>
				        	<div class="col-sm-8">
			        			<select style="width: 100%;" data-bind="kendoDropDownList: { data: formula.optionProducts, value: Product, optionLabel: 'Select one' }"></select>
				        	</div>
				        	<div class="clearfix"></div>
				        </div>

				        <div class="clearfix"></div>
				    </div>
				</div>
			</div>

			<div class="modal-body" style="border-bottom: 1px solid rgba(229, 229, 229, 0.3);">
				<div class="row">
		    		<div class="form-group no-margin">
			    		<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Actuals as per Time Period</label>
				        	<div class="col-sm-8">
			        			<select style="width: 100%;" data-bind="kendoDropDownList: { data: formula.optionTimePeriod, dataValueField: 'value', dataTextField: 'text', value: TimePeriod, optionLabel: 'Select one' }"></select>
				        	</div>
				        	<div class="clearfix"></div>
				        </div>

				        <div class="clearfix"></div>
		    		</div>
		    	</div>
			</div>

			<div class="modal-body" style="border-bottom: 1px solid rgba(229, 229, 229, 0.3);">
				<div class="row">
			        <div class="form-group no-margin">
				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Select operator</label>
				        	<div class="col-sm-8">
			        			<select style="width: 100%;" data-bind="kendoDropDownList: { data: formula.optionNormTypes, dataValueField: 'value', dataTextField: 'text', value: formula.financial.Operator, change: formula.selectNormType, optionLabel: 'Select one' }"></select>
				        	</div>
				        	<div class="clearfix"></div>
			            </div>

				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Norm Label</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: NormLabel" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>
			            
			            <div class="clearfix"></div>
		            </div>

			        <div class="form-group" data-bind="visible: (formula.financial.Operator() == 'min')">
				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Min Value</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: formula.financial.Value1" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>
			            
			            <div class="clearfix"></div>
		            </div>

			        <div class="form-group" data-bind="visible: (formula.financial.Operator() == 'max')">
				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Max Value</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: formula.financial.Value1" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>
			            
			            <div class="clearfix"></div>
		            </div>

			        <div class="form-group" data-bind="visible: (formula.financial.Operator() == 'greater than or equal')">
				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Greater Than or Equal to</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: formula.financial.Value1" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>
			            
			            <div class="clearfix"></div>
		            </div>

			        <div class="form-group" data-bind="visible: (formula.financial.Operator() == 'lower than or equal')">
				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Lower Than or Equal to</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: formula.financial.Value1" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>
			            
			            <div class="clearfix"></div>
		            </div>

			        <div class="form-group" data-bind="visible: (formula.financial.Operator() == 'equal')">
				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Value equal</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: formula.financial.Value1" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>
			            
			            <div class="clearfix"></div>
		            </div>

			        <div class="form-group" data-bind="visible: (formula.financial.Operator() == 'between')">
				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">Value between</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: formula.financial.Value1" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>

				    	<div class="col-sm-6">
				            <label class="col-sm-4 form-label align-right">and</label>
				        	<div class="col-sm-8">
			        			<input type="text" class="form-control input-sm" data-bind="value: formula.financial.Value2" />
				        	</div>
				        	<div class="clearfix"></div>
			            </div>
			            
			            <div class="clearfix"></div>
		            </div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-sm btn-save" data-bind="click: formula.saveFinancial">Save</button>
			</div>
		</div>
	</div>
</div>
