<script type="text/javascript">
model.PageTopMenu("Data Entry");
model.PageId('{{.Menuname}}');
model.BreadCrumbs.push(new BreadCrumb("Data Entry", "Data Entry", "#", "", ""));
model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
model.Access = ko.observable('{{.Menuid}}');
model.View = ko.observable('{{.View}}');
model.Create= ko.observable('{{.Create}}');
model.Delete= ko.observable('{{.Delete}}');
model.Process= ko.observable('{{.Process}}');
model.Edit= ko.observable('{{.Edit}}')
model.User= ko.observable('{{.Username}}');
</script>

<script src="/static/core/ratio-input.js"></script>

<style>
	.button-font {
		font-size: 11px;
	}
	.form-ratio-input {
		overflow-x: scroll;
	}
	.form-ratio-input .wrapper {
	    padding: 10px;
	}
	.form-ratio-input .title {
		vertical-align: middle;
    	font-size: 18px;
	}
	.form-ratio-input tr td {
		border: 1px solid #e4e4e4;
		/*padding: 4px 8px;*/
	}
	.form-ratio-input tr.row-section td {
		font-size: 24px;
	}
	.form-ratio-input tr.row-sub-section td {
		font-size: 18px;
	}
	.form-ratio-input tr.row-field td {
		font-size: 12px;
		font-weight: normal;
		background-color: #fefefe;
	}
	.form-ratio-input tr.row-field td input {
		font-size: 12px;
		font-weight: normal;
		border: 1px solid transparent;
		background-color: transparent;
	}
	.form-ratio-input tr.row-field td input:focus,
	.form-ratio-input tr.row-field td input:active {
		/*font-weight: bold;*/
		color: black;
	}
	.form-ratio-input tr.row-field td.disabled {
		background-color: #f1f1f1;
		pointer-events: none;
	}
	.inline-filter.control-label {
		margin-top: 5px;
	    text-align: right;
	    width: 100%;
	}
	.form-last-confirmation-info {
		padding-bottom: 10px;
		text-align: right;
		font-style: italic;
		color: #27ae60;
	}
	/*#refresh{
		display: none;
	}*/
	.row-setion:hover{
		background-color: Red;
	}
	/*.row-field:hover{
		background-color: Red;
	}*/
	.k-numerictextbox {border-radius: 0}
	.cell-year {display: none;}
</style>

{{template "filter.html"}}

<div data-bind="with: ratioInput" >
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="panel ez">
			<!-- <div class="panel-heading"><h4 data-bind="html: model.currentTitle()" style="margin-top: 4px">&nbsp;</h4></div> -->
			<div class="panel-body" style="padding-top: 0">
				<div class="form-last-confirmation-info"></div>
				<div class="filter col-md-12 align-right no-padding hardcore">
					<!-- <button class="btn btn-sm btn-primary" data-bind="click: refresh">
						<i class="fa fa-refresh"></i> Refresh
					</button> -->
					<div style="float: left; margin-right: 50px;">
						<button class="btn btn-save button-font" style="width: 70px" data-bind="click: save, visible: (r.customerId() != '')">Save</button>
						<button class="btn btn-confirm button-font" style="width: 70px" data-bind="click: (confirm), visible: (r.customerId() != '')">Confirm</button>
						<button class="btn btn-freeze button-font" style="width: 70px" data-bind="click: freeze(true), visible: (r.customerId() != '') && (!r.isFrozen())">Freeze</button>
						<button class="btn btn-details button-font" style="width: 70px" data-bind="click: freeze(false), visible: (r.customerId() != '') && (r.isFrozen())">Unfreeze</button>
					</div>
					<div style="float: left;">
						<div id="selectTypeDate" data-bind="visible: (r.customerId() != '')" style="float: left; width: 150px; margin-right: 20px;"></div>

						<div id="selectDateAudited" data-bind="visible: (r.customerId() != '')" style="float: left; margin-right: 20px;"></div>

						<div id="selectDateProjected" data-bind="visible: ( (r.customerId() != '') && (r.AuditedDate() != '') )" style="float: left; margin-right: 20px;"></div>
					</div>
					<div style="float: right;">
						<button class="btn btn-add button-font" data-bind="visible: (r.customerId() != '')" onclick="r.exportExcel('.divright', r.customerId())">Export as Excel</button>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-container">
					<br>
					<div class="form-ratio-input">
						<center>
							<h3 style="text-decoration: none; border: none; margin-left: 100px;">Select Customer and Deal Number</h3>
						</center>
					</div>
					<div class="form-ratio-header"></div>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="fixedheader" style="position: fixed; top: 52px;left: 16px;width: 1008px;display: none;background-color: #efefef;">
	<div style="width: 400px;float: left;min-height: 50px;padding-top: 8px;text-align: center;border: 1px solid #e4e4e4;">Particulars<br>(in Rs. Lacs)</div>
	<div id="divrightfixed" style="width: 605px;float: left;overflow-x: scroll;border: 1px solid #e4e4e4;"></div>
</div>

<style type="text/css">
	.mar-20{
		    margin-top: -20px;
	}
	.cell-auditmodief{
		text-align: center;
		vertical-align: middle;
	}
	.cell-na{
		padding: 0 !important;
	}
	.cell-auditmodief{
		padding-top: 7px;
	}
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
/*	.scroll-grid-bottom.viewscrollfix.arrow.arrow-right{
		right: 308px !important;
	}*/
/*	.td16{
		    min-width: 350px !important;
	}*/
</style>