<!DOCTYPE html>
<html>
  <head>
    <title>EACIIT SmartView</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />

    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>

    <script src="/static/js/knockout-3.1.0.js"></script>
    <script src="/static/js/knockout-3.3.0.js"></script>
    <script src="/static/js/knockout.mapping-latest.js"></script>
    <script src="/static/js/knockout.validation.js"></script>

    <script src="/static/js/jszip.min.js"></script>
    <script src="/static/kendoui/js/kendo.all.min.js"></script>

    <script src="/static/js/knockout-kendo.min.js"></script>
    
    <script src="/static/jquery.number/jquery.number.js"></script>

    <!-- Tooltipster -->
    <link rel="stylesheet" href="/static/tooltipster/css/tooltipster.css" />
    <link rel="stylesheet" href="/static/tooltipster/css/tooltipster-val.css" />
    <script src="/static/tooltipster/js/jquery.tooltipster.min.js"></script>
    <!-- Tooltipster -->

    <!-- Sweetalert -->
    <script src="/static/sweetalert/sweetalert.min.js"></script>
    <link href="/static/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" />
    <!-- Sweetalert -->

    <!--  Js switch  -->
    <script src="/static/switch-js/bootstrap-switch.js"></script>
    <script src="/static/switch-js/highlight.js"></script>
    <script src="/static/switch-js/main.js"></script>
    <!-- Js switch  -->

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/lodash/lodash.min.js"></script>
    <!-- <script src="/static/js/underscore.min.js"></script> -->
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/color.js"></script>
    <script src="/static/js/tools.js"></script>
    <script src="/static/js/linq.js"></script>
   	<script src="/static/js/custom.js"></script>

    <!-- switch Bootstrap CSS  -->
    <link href="/static/switch-css/bootstrap-switch.min.css" rel="stylesheet">
    <!-- switch Bootstrap CSS -->

    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/bootstrap-theme.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="/static/kendoui/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="/static/kendoui/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="/static/kendoui/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="/static/kendoui/styles/kendo.dataviz.bootstrap.min.css" />

    <!-- <script src="/static/js/underscore.min.js"></script> -->
    <script src="/static/js/linq.js"></script>
    <script src="/static/js/ecis_config.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/ecis_start.js"></script>
    <script src="/static/js/jquery.fullscreen.min.js"></script>
    <!-- <script src="/static/core/authentication.js"></script> -->

    <link rel="stylesheet" href="/static/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/site.css" />

    <script>
      var model = {
        PageTabID: ko.observable(""),
        Processing: ko.observable(true)
      };
      Notification = ko.observableArray([]);
      var gbLastProcessDate;
      $.ajax({
        url: "/processlog/getpaymentreceiptmindate",
        type: "POST",
        success: function (res) {
          gbLastProcessDate = res.Data;
        },
        async: false
      });
    </script>

    <script id="navbarTemplate" type="text/html">
    <li data-bind="if: Submenus().length==0">
      <a data-bind="text: Title, attr:{href:Url}"></a>
    </li>

    <li data-bind="if: Submenus().length>0" class="dropdown">
      <a data-bind="html: Title() + '&nbsp;&nbsp;<i></i>'" style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown"></a>
      <ul class="dropdown-menu" role="menu" data-bind="template:{name:'navbarSubTemplate', foreach:Submenus}"></ul>
    </li>
  </script>

  <script id="navbarSubTemplate" type="text/html">
    <li data-bind="if: Submenus().length==0">
      <a data-bind="text: Title, attr:{href:Url}"></a>
    </li>

    <li data-bind="if: Submenus().length>0" class="dropdown-submenu">
      <a data-bind="html: Title() + '&nbsp;&nbsp;<i></i>'" style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown"></a>
      <ul class="dropdown-menu" role="menu" data-bind="template:{name:'navbarSubTemplate', foreach:Submenus}"></ul>
    </li>
  </script>

  <script id="breadcrumbTemplate" type="text/html">
    <li data-bind="attr:{class:CssClass}"><a data-bind="text: Title, attr:{href:Url, class:CssClass, onclick: (Action!=undefined?Action:'')}"></a></li>
  </script>

  <style>
    .k-dropdown {
      width: 100%;
    }
    .k-numerictextbox {
      width: 100%;
    }
    .k-datepicker{
      width: 100%;
    }
    .headerColorGrid{
      background-color: #0081C5;
    }
    .btn-pdf {
      background: url(static/img/pdf.png) no-repeat left top;
      width: 32px;
      height: 32px;
      border: none;
    }

    .k-multiselect{
      background:none;
    }
    html, body {
      max-width: 100%;
      /*overflow-x: hidden;*/
    }
    .menu-header {
      height: 30px;
      background-color: #333;
    }

    .nav-bar-header li {
      float: left;
    }

    .nav-bar-header li a {
      font-size: 12px;
      margin: 0px;
      padding: 5px;
      background-color: #000;
    }

    .nav-bar-header li.selected a {
      background-color: #ecb833;
    }

    .nav-bar-header li a:hover {
      font-size: 12px;
      margin: 0px;
      padding: 5px;
      background-color: #ecb833;
    }
    .form-group input[type='number'] {
      text-align: right;
    }
    #logo{
      margin-top: -20px;
      width: 215px !important;
      margin-left: 20px !important;
    }
    #menuDate{
      text-align: right;
      margin-top: 1px;
      float: right;
    }
  </style>
</head>
<body>

  <div data-bind="visible:Processing()" class="align-center">
    <h5>Please wait while processing your request</h5>
    <img src="/static/img/loader.gif" alt="Loading..." />
  </div>

  <!-- wrapper starts here -->
  <!-- wrapper starts here -->
  <div class="container-fluid" style="display:none" data-bind="visible:!Processing()">
    <!-- header starts here -->
    <header id="page-header">
      <div class="page-header-overlay">
        <section id="logo">
          <a href="" id="logo-link"><span>TPRS</span></a>
        </section>
      </div>

      <section id="user-nav">
        <div class="user-nav-wrapper">
          <a href="#" class="user-nav-info" data-toggle="dropdown">
            <!-- <img id="imgphotosmall" /> -->
            Welcome <span data-bind="text: model.User"></span>
          </a>
          <!-- ko if:UserMenus().length==0 -->
          <ul class="dropdown-menu" role="menu">
            <li><a onClick="Logout()" class="logout-link">Logout</a></li>
          </ul>
          <!-- /ko -->
        </div>
      </section>
    </header>
    <nav class="navbar">
      <div class="navbar-header">
        <ul class="nav navbar-nav" data-bind="template:{name:'navbarTemplate', foreach:MainMenus}"></ul>
      </div>
      <div id="menuDate" class="col-md-2">
      </div>
    </nav>

    <script>
      function GridColumn(id, userId, gridId) {
        this.Name = id + "_" + userId + "_" + gridId;
        this.GridId = gridId;
        this.Init = function () {
          var grid = $('#' + this.GridId).data('kendoGrid');

          var gridCols = grid.columns;
          var datas = readCookie(this.Name);
          if (datas == null) {
            var visibleCols = [];
            jQuery.each(gridCols, function (index) {
              if (!this.hidden) {
                visibleCols.push(this.field);
              }
            });
            createCookie(this.Name, visibleCols.join('|'));
          } else {
            var showColumns = datas.split('|');
            jQuery.each(gridCols, function (index) {
              if (showColumns.indexOf(this.field) < 0) {
                grid.hideColumn(this.field);
              }
            });
          }
        };
        this.GetColumns = function () {
          return readCookie(this.Name);
        };
        this.AddColumn = function (columnName) {
          var datas = this.GetColumns();
          var cols = [];
          if (datas != null) {
            cols = datas.split('|');
            if (cols.indexOf(columnName) < 0) {
              cols.push(columnName);
            }
          }

          eraseCookie(this.Name);
          createCookie(this.Name, cols.join('|'));
        };
        this.RemoveColumn = function (columnName) {
          var datas = this.GetColumns();
          var cols = [];
          if (datas != null) {
            cols = datas.split('|');
            if (cols.indexOf(columnName) > -1) {
              jQuery.each(cols, function (index) {
                if (cols[index] == columnName) {
                  cols.splice(index, 1);
                }
              });
            }
          }

          eraseCookie(this.Name);
          createCookie(this.Name, cols.join('|'));
        };
      }

      function createCookie(name, value, days) {
        days = days || 365;
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          var expires = "; expires=" + date.toGMTString();
        } else
          var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
      }

      function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ')
            c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0)
            return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      function eraseCookie(name) {
        createCookie(name, "", -1);
      }

      function getDefaultDatetimepicker() {
        var d = new Date();
        var DefaultDate = new Date();
        var day = moment(d).format("ddd");
        if (day != "Mon") {
          DefaultDate.setDate(DefaultDate.getDate() - 1);
        } else {
          DefaultDate.setDate(DefaultDate.getDate() - 3);
        }
//        console.log(moment(DefaultDate).format("YYYY-MM-DD"));
        return moment(DefaultDate).format("YYYY-MM-DD");
      }

      function getUTCDate(strdate) {
        var d = moment.utc(strdate);
        return new Date(d.year(), d.month(), d.date(), 0, 0, 0);
      }
      function getUTCDateFull(strdate) {
        var d = moment.utc(strdate);
        return new Date(d.year(), d.month(), d.date(), d.hours(), d.minutes(), d.seconds());
      }

      function toUTC(d) {
        var year = d.getFullYear();
        var month = d.getMonth();
        var date = d.getDate();
        var hours = d.getHours();
        var minutes = d.getMinutes();
        var seconds = d.getSeconds();
        return moment(Date.UTC(year, month, date, hours, minutes, seconds)).toISOString();
      }

      function Logout() {
        localStorage.clear();
        window.location.href = "/logout/do";
      }

      function MenuItem(id, url, title, submenus, baseURL) {
        var obj = {
          _id: ko.observable(id),
          Title: ko.observable(title == undefined ? id : title),
          Url: ko.observable(url.replace("~/", baseURL)),
          Submenus: ko.observableArray([])
        };

        var arr = submenus;
        for (var i in arr) {
          obj.Submenus.push(
                  new MenuItem(
                          arr[i]._id,
                          arr[i].Url,
                          arr[i].Title,
                          arr[i].Submenus,
                          baseURL
                          )
                  );
        }
        return obj;
      }
      ;

      function BreadCrumb(id, title, url, cssClass, action) {
        var obj = {
          _id: ko.observable(id),
          Title: ko.observable(title == undefined ? id : title),
          Url: url,
          Action: action,
          CssClass: cssClass
        };

        return obj;
      }


      model.ParentId = ko.observableArray([]);
      model.PageId = ko.observable("");
      model.MainMenus = ko.observableArray([]);
      model.RoleGroup = ko.observable("");
      model.BreadCrumbs = ko.observableArray([]);
      model.VisibleDropdown = ko.observableArray([]);
      model.menu = ko.observable('');
      model.dateMenu = ko.observable(new Date(getDefaultDatetimepicker()));


      function convert(array) {
        var map = {};
        for (var i = 0; i < array.length; i++) {
          var obj = array[i];
          obj.Submenus = [];

          map[obj.Id] = obj;

          var parent = obj.Parent || '-';
          if (!map[parent]) {
            map[parent] = {
              Submenus: []
            };
          }
          map[parent].Submenus.push(obj);
        }
        return map['-'].Submenus;
      }

      function MenuItem(Id, Url, Title, Submenus, baseURL) {
        var obj = {
          Id: ko.observable(Id),
          Title: ko.observable(Title == undefined ? Id : Title),
          Url: ko.observable(baseURL + Url),
          Submenus: ko.observableArray([])
        };
        var arr = Submenus;
        for (var i in arr) {
          obj.Submenus.push(
                  new MenuItem(
                          arr[i]._id,
                          arr[i].Url,
                          arr[i].Title,
                          arr[i].Submenus,
                          baseURL
                          )
                  );
        }
        return obj;
      }
      ;

      model.getDataMenu = function () {
        var url = "/menusetting/getmenutop";
        var param = {
        };
        ajaxPost(url, param, function (data) {
          var arrData = [];
          var baseURL = "";
          var dataMenu = data.Data.Records;
          for (var i in dataMenu) {
            arrData.push({
              "Id": dataMenu[i].Id,
              "Parent": dataMenu[i].Parent,
              "_id": dataMenu[i].PageId,
              "Url": dataMenu[i].Url,
              "Title": dataMenu[i].Title,
              "IndexMenu": dataMenu[i].IndexMenu,
            });
          }
          var sortMenu = Enumerable.From(arrData).OrderBy("$.Parent").ThenBy("$.IndexMenu").ToArray();
                var dataTree = convert(sortMenu);
                var arr = dataTree;
                for(var i in arr){
                    model.MainMenus.push(
                        new MenuItem(
                            arr[i]._id,
                            arr[i].Url,
                            arr[i].Title,
                            arr[i].Submenus,
                            baseURL
                        )
                    );
                }

            });
        }

        model.GetPageTitle = function(PageId,MenuList,ParentId){
            var Title = "";
             for(var i in MenuList){
                if(MenuList[i]._id==PageId){
                    Title = MenuList[i].Title
                    ParentId.push(MenuList[i]._id);
                    break;
                }
                if(Title=="" && MenuList[i].Submenus.length > 0){
                    Title = model.GetPageTitle(PageId,MenuList[i].Submenus,ParentId)

                    if(Title !== ""){
                        ParentId.push(MenuList[i]._id);
                    }
                }
            }
            return Title;
        };

        model.PageTitle = ko.computed(function(){
            var PageId = model.PageId();
            var MenuList = model.MainMenus();
            var Title = "";
            var ParentId = [];
            Title = model.GetPageTitle(PageId,MenuList,ParentId);
            model.ParentId(ParentId);
            return Title;
        },model);

        model.AppHomeButtonLoad = function(obj){
            var id = obj._id;
            var url = obj.Url;
            var title = obj.Title;
            window.location.href = url;
        }

    </script>
    <script>
        model.BreadCrumbs.push(new BreadCrumb("youare", "You are here : ", "#", "youare"));
    </script>
    <section class="breadcrumb-section">
      <ol class="breadcrumb" data-bind="template:{name:'breadcrumbTemplate', foreach:BreadCrumbs}"></ol>
    </section>
  </div>
  <!-- header ends here -->
  <!-- header ends here -->
  <!-- section starts here -->
  <div class="container-fluid content-main" data-bind="visible:!Processing()">

    <section class="content">
      <div class="content-header">
        <h2 class="content-title"><span data-bind="text:PageTitle"></span></h2>
      </div>
      <!-- Main panel starts here -->
      {{.Content}}
    </section>

  </div>
  <!-- section ends here -->
  <!-- wrapper ends here -->
  <script>
      $(function(){
          $('#logo-link').on('click', function() {
              $('body').fullscreen({ overflow: 'auto' });
              return false;
          });
      });

      ko.applyBindings(model);

      $(document).ready(function () {
          model.Processing(false);
          model.getDataMenu();
          model.menu(model.PageId());
      });
  </script>
</body>
</html>