<div class="col-md-9 col-sm-9 ez panel-content">
    <div class="panel ez no-padding hardcore">
      <div class="panel-heading">
        <h3 class="no-margin">
            &nbsp;
        </h3>
        <div class="panel-nav-button">
          <button  type="button" class="btn btn-sm btn-success btn-flat"><i class="fa fa-plus"></i> Add New</button>
          <button class="btn btn-sm btn-info tooltipster" title="Toggle Advanced Filter"><i class="fa fa-server"></i> Show Filter</button>
        </div>
      </div>
      <div class="panel-body">
        <!-- <div data-bind="visible:loading">
          <center class="align-center">
              <h5>Please wait while processing your request</h5>
              <img src="/static/img/loader.gif" alt="Loading..." />
          </center>
        </div> -->
        <div data-bind="visible:!loading()">
            <div id="MasterGridRole"></div>
        </div>
      </div>
    </div>
</div>
<div class="col-md-3 col-sm-3 ez panel-filter" >
    <div class="panel ez no-padding hardcore">
      <div class="panel-heading">
          <h3 class="no-margin">Filter</h3>
          <div class="panel-nav-button">
              <div class="form-group relative align-right no-margin no-padding hardcore">
                  <button  type="button" btn-sm class="btn btn-sm btn-primary btn-flat"><i class="fa fa-search"></i> Search</button>
                  <button  type="button" class="btn btn-sm btn-danger btn-flat"><i class="fa fa-refresh"></i> Reset</button>
              </div>
          </div>
      </div>
      <div class="panel-body">
        <div id="from-filter">
            <p>Filter your using input below.</p>
            <div class="form-group form-group-table-name">
                <div class="input-group input-group-sm ez width-full">
                  <span class="input-group-addon width-100 align-right">Role</span>
                  <select type="text"  class="form-control input-sm" id = "filterRole"></select> 
                </div>
            </div>
            <div class="form-group form-group-table-name">
                <div class="input-group input-group-sm ez width-full">
                  <span class="input-group-addon width-100 align-right">Status</span>
                  <input id="filterStatus" class="switch-mini" type="checkbox"  data-off-text="inactive" data-on-text="active">
                </div>
            </div>
        </div>
      </div>
    </div>
</div>