<style type="text/css">
    .k-icon {
        display: -webkit-inline-box !important;
    }

    .k-numeric-wrap {
        padding: 2px;
    }
    .k-grid tr td {
            border: solid 1px rgba(226,210,210,1);
    }

    .grey {
        background: rgb(238, 238, 238);
    }

    .k-header {
        white-space: normal!important;
        word-break: break-all !important;
        word-wrap: break-word !important;
    }

</style>
<div class="col-md-12 margin20"><div id="bottomgrid"></div></div>

<script id="rowTemplateBottom" type="text/x-kendo-tmpl">
   <tr>
      <td style="text-align: right; display: none;">
        <span>#:Id#</span>
      </td>
      <td style="text-align: right; display: none;">
        <span>#:SNo#</span>
      </td>
      <td style="text-align: right">
        <span>#:Bank#</span>
      </td>
      <td style="text-align: right">
        <span>#:TypeOfLoan#</span>
      </td>
      <td style="text-align: right">
        <span>#:BSLStatus#</span>
      </td>
      <td style="text-align: right">
        <span>#:LoanStatus#</span>
      </td>
      <td style="text-align: right">
        <span>#: app.formatnum(Amount)#</span>
      </td>
      <td style="text-align: right">
        <span>#:POS#</span>
      </td>
      <td style="text-align: right">
        <span>#:EMI#</span>
      </td>
      <td style="text-align: right">
        <span>#:LoanTenor#</span>
      </td>
      <td style="text-align: right">
        <span>#:LoanStart#</span>
      </td>
      <td style="text-align: right">
        <span>#:LoanEnd#</span>
      </td>
      <td style="text-align: right">
        <span>#:EMIDue#</span>
      </td>
      <td style="text-align: right">
        <span>#:EMIBalance#</span>
      </td>
      <td style="text-align: right">
        <span>#:Bounces#</span>
      </td>
      <td style="text-align: right">
        <span>#:Month0#</span>
      </td>
      <td style="text-align: right">
        <span>#:Month1#</span>
      </td>
      <td style="text-align: right">
        <span>#:Month2#</span>
      </td>
      <td style="text-align: right">
        <span>#:Month3#</span>
      </td>
      <td style="text-align: right">
        <span>#:Month4#</span>
      </td>
      <td style="text-align: right">
        <span>#:Month5#</span>
      </td>
  </tr>
</script>

<script type="text/javascript">

var confirmed = ko.observable(false)
var ArrDPD = ko.observableArray([])

function DeleteData(id){
    var callData = {_id : id};

    swal({
        title: "Are you sure?",
        text: "You want to delete",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it"
    }).then(function() {
        ajaxPost("/rtr/destroy",callData, function(res){
            if(res.success){
                getData()
                swal("Success","Data deleted !","success")
            }else{
                swal("Error",res.message,"error")
            }
        });
    })
}

function checkeditor(container,options){
    if(options.model.IsBankAnalys) {
        $('<label class="grey" data-bind="text:' + options.field + '" >')
        .appendTo(container);
    } else {
        $('<input type="number" class="numericTextBox" data-bind="value:' + options.field + '">')
        .appendTo(container);

        $(".numericTextBox").kendoNumericTextBox()
        $(".k-select").remove();
    }
}

function numbereditor(container,options){
    $('<input type="number" class="numericTextBox" data-bind="value:' + options.field + '">')
        .appendTo(container);

    $(".numericTextBox").kendoNumericTextBox();

    $(".k-select").remove();
}

function dateeditor(container,options){
    $('<input class="dtp" data-bind="value:' + options.field + '">')
        .appendTo(container);

    $(".dtp").kendoDatePicker({format: "dd/MM/yyyy", 
        change:function(x){ 
            var val = x.sender.element.getKendoDatePicker().value();
            var h = moment(val).hour();
            var grid =  $("#bottomgrid").getKendoGrid();

            var d = new Date()
            var n = d.getTimezoneOffset()/60*-1;

            if(h==0){
                var real = moment(x.sender.value()).add(n,'hour').toDate();
                var grdata = grid.dataSource.data();
                this.value(real);

                grdata.forEach(function(dt){
                     var he = moment(dt.LoanEnd);

                     if(he.hour()==0){
                        dt.LoanEnd = he.add(n,'hour').toDate()
                     }

                     var hs = moment(dt.LoanStart);
                      if(hs.hour()==0){
                        dt.LoanStart = hs.add(n,'hour').toDate()
                     }
                })
            }

        }});
    $(".dtp").attr("readonly", true);
}

function getData(){
    $("#bottomgrid").html("");
    $("#topgrid").html("");

    var url = "/rtr"
    var col = [
        { title : "Id", headerAttributes: { "class": "header-bgcolor wrap" }, field : "Id" , hidden : true },
        { title : "S. No", headerAttributes: { "class": "header-bgcolor wrap" }, field : "SNo", hidden: true  },
        { title : "Bank", headerAttributes: { "class": "header-bgcolor wrap" }, field : "Bank", width: 150  },
        { title : "Type Of Loan", headerAttributes: { "class": "header-bgcolor wrap" }, field : "TypeOfLoan", width: 130, editor: typeOfLoanDropDownEditor  },
        { title : "BSL / PBSL", headerAttributes: { "class": "header-bgcolor wrap" }, field : "BSLStatus", width: 80, editor: bslsDropDownEditor  },
        { title : "Loan Closed / Live", headerAttributes: { "class": "header-bgcolor wrap" }, field : "LoanStatus", width: 130, editor: loanStatusDropDownEditor },
        { title : "Amount (Rs Lacs)", headerAttributes: { "class": "header-bgcolor wrap" }, field : "Amount", width: 120, editor : checkeditor, template : function(o) {

            if(o.IsBankAnalys) {
                return "<label style=\"width:100%; height: 100%; text-align: right; \">" + app.formatnum(o.Amount) + "</label>"
            } else {
                return "<label style=\"width:100%; text-align: right; \">" + app.formatnum(o.Amount) + "</label>"
            }
        } },
        { title : "POS (Rs Lacs)", headerAttributes: { "class": "header-bgcolor wrap" }, field : "POS", width: 120, editor : checkeditor, attributes: { style: 'background: rgb(238, 238, 238)' }, template : function(o) {

            // if(o.IsBankAnalys) {
                return "<label style=\"width:100%; height: 100%; text-align: right; background: rgb(238, 238, 238);\">" + app.formatnum(o.POS,2) + "</label>"
            // } else {
            //     return "<label style=\"width:100%; text-align: right; \">" + o.POS + "</label>"
            // }
        } },
        { title : "EMI (Rs)", headerAttributes: { "class": "header-bgcolor wrap" }, field : "EMI", width: 120, editor: numbereditor, template : "<label style=\"width:100%; text-align: right;\">#:app.formatnum(EMI)#</label>"  },
        { title : "Loan Tenor (month)", headerAttributes: { "class": "header-bgcolor wrap" }, field : "LoanTenor", width: 130, editor: numbereditor, template : "<label style=\"width:100%; text-align: right;\">#:LoanTenor#</label>"  },
        { title : "Loan Start Date", headerAttributes: { "class": "header-bgcolor wrap" }, field : "LoanStart", format : "{0:dd/MM/yyyy}", editor: dateeditor,width: 100 , template : "#= moment(LoanStart).format('YY') == '01' || moment(LoanStart).format('YY') == 'Invalid date'? 'dd/mm/yyyy' : moment(LoanStart).format('DD/MM/YYYY') #" },
        { title : "Loan End Date", headerAttributes: { "class": "header-bgcolor wrap" }, field : "LoanEnd" , format : "{0:dd/MM/yyyy}", editor:dateeditor ,width: 100, template : "#= moment(LoanEnd).format('YY') == '01' || moment(LoanEnd).format('YY') == 'Invalid date' ? 'dd/mm/yyyy' : moment(LoanEnd).format('DD/MM/YYYY') #" },
        { title : "No of EMI's Due / Vintage", headerAttributes: { "class": "header-bgcolor wrap" }, field : "EMIDue" , width: 150, template : "<label style=\"width:100%; text-align: right;\">#:EMIDue#</label>", attributes: { style: 'background: rgb(238, 238, 238)' } },
        { title : "Balance No of EMI's", headerAttributes: { "class": "header-bgcolor wrap" }, field : "EMIBalance", width: 130, template : "<label style=\"width:100%; text-align: right;\">#:EMIBalance#</label>", attributes: { style: 'background: rgb(238, 238, 238)' }  }
    ];

    callData = {}
    callData["customerid"] = filter().CustomerSearchVal()
    callData["dealno"] = filter().DealNumberSearchVal()

    ajaxPost(url+"/getdatabottomgrid",callData, function(res){

        if(res.message != "") {
            swal("Warning",res.message,"warning");
            $('#btnconfirm').hide()
            return
        } else if(res.data[0].data.length == 0) {
            swal("Warning","Please fill Banking Analysis form first","warning");
            $('#btnconfirm').hide()
            return
        }


        if(res.data[0].data[0].Confirmed){
            confirmed(true)
            $('.form-last-confirmation-info').html('Last confirmed on: '+kendo.toString(new Date(res.data[0].data[0].DateConfirmed),"dd-MM-yyyy h:mm:ss tt") )
            $('#btnconfirm').html('Re Enter').removeClass('btn-success').addClass('btn-reenter')
        } else{
            confirmed(false)
            $('.form-last-confirmation-info').html('')
            $('#btnconfirm').html('Confirm').removeClass('btn-reenter').addClass('btn-success')
        }

        $('#btnconfirm').show()

        // console.log(res.data[0].data[0].Confirmed, res.data[0].data[0].DateConfirmed)

        datagrid = res.data[0].data

        if(res.data[0].data[0]) {
            cacah = 0
            $.each(res.data[0].data[0].Months, function(k, v){
                titleString = moment(v.Title.split("T")[0]).format("MMM-YYYY");

                col.push({title : titleString, headerAttributes: { "class": "header-bgcolor wrap" }, field : "Month"+k, width : 100, editor: bouncesDropDownEditor})
            })
            ArrDPD([])
            $.each(res.data[0].data, function(k,v){
                sumBounces = 0

                $.each(v.Months, function(k1,v1){
                    datagrid[k]["Month"+k1] = v1.Value
                    if(v1.Value == "Not Start" || v1.Value == "Clear") {
                        sumBounces++
                    }

                    if((datagrid[k]["Month"+k1]).indexOf("DPD") != -1){
                        ArrDPD.push(datagrid[k]["Month"+k1])
                    }
                })

                datagrid[k]["Bounces"] = ArrDPD().length;
                 ArrDPD([]);
            })
        }

        col.push({ title : "Bounces", headerAttributes: { "class": "header-bgcolor wrap" }, field : "Bounces",
            width: 80, attributes: { style: 'background: rgb(238, 238, 238)' }})
        col.push({ title : "Yearly Repayment (Rs Lacs)", headerAttributes: { "class": "header-bgcolor wrap" }, field : "YearlyRepayment", width: 160, template : "<label style=\"width:100%; text-align: right;\">#:app.formatnum(YearlyRepayment,2)#</label>", attributes: { style: 'background: rgb(238, 238, 238)' }})

        col.push({ headerAttributes: { "class": "header-bgcolor wrap" }, template : "<button type='button' btn-sm='' class='btn btn-sm btn-danger tooltipster' title='Delete' onclick='DeleteData(\"#: Id #\");'> <span class='glyphicon glyphicon-trash'></span>&nbsp; </button>", width: 50 })
        NewestData(datagrid);
        CreateBottomGrid(filter().CustomerSearchVal(), filter().DealNumberSearchVal(), datagrid, col)

        topgriddata[0].OBLIPos = res.data[1].summary.TotalObligationPOS
        topgriddata[0].OBLIEmi = res.data[1].summary.TotalObligationEMI
        topgriddata[0].CWMPos = res.data[1].summary.CloseWithin3MonthPOS
        topgriddata[0].CWMEmi = res.data[1].summary.CloseWithin3MonthEMI.toFixed(2)
        topgriddata[0].PBSLPos = res.data[1].summary.PBSLPOS
        topgriddata[0].PBSLEmi = res.data[1].summary.PBSLEMI
        topgriddata[0].BTPos = res.data[1].summary.BalancePOS
        topgriddata[0].BTEmi = res.data[1].summary.BalanceEMI
        topgriddata[0].TCLPos = res.data[1].summary.TCLPOS
        topgriddata[0].TCLEmi = res.data[1].summary.TCLEMI.toFixed(2)
        topgriddata[0].DPLMargin = res.data[1].summary.DPLCustMargin
        topgriddata[0].DPLLoan = res.data[1].summary.DPLAmountOfLimit
        topgriddata[0].DPLTenor = res.data[1].summary.DPLTenor
        topgriddata[0].DPLROI = res.data[1].summary.DPLROI
        topgriddata[0].IntOBLI = res.data[1].summary.X10IntObligation
        topgriddata[0].ExisPos = res.data[1].summary.X10ExistingPOS
        topgriddata[0].Yrp = res.data[1].summary.YearlyRepayment
        topgriddata[0].SumBounces = res.data[1].summary.SumBounces
        topgriddata[0].SumExtenalYearly = res.data[1].summary.SumExtenalYearly

        CreateTopGrid();
    });
}

var NewestData = ko.observableArray([]);

var NotValid = false;

function CreateBottomGrid(cust, deal, data, col){
    // var cust = filter().CustomerSearchVal()

                        var url = "/rtr"
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read: function(yo){
                                    yo.success(data);
                                },
                                update: function(yo){
                                    var data = $('#bottomgrid').data('kendoGrid').dataSource.data();
                                    var rowChange = $.grep(data, function(item) {
                                        return item.dirty
                                    });

                                    var notValidGlobal = false

                                    $.each(rowChange, function(k, v){
                                        _.each(v, function(k1, v1){
                                            if((v1 != "Id" && v1 != "SNo" && v1 != "Amount" && v1 != "POS") && k1 == "" && parseInt(k1) != 0){
                                                notValidGlobal = true
                                            }
                                        })
                                    })

                                    var callData = [];

                                    for(var i in yo.data["models"]){
                                        var dt = yo.data["models"][i];
                                        dt["CustomerId"] = filter().CustomerSearchVal()
                                        dt["DealNo"] = filter().DealNumberSearchVal()
                                        callData.push(dt);
                                    }

                                    // if(notValidGlobal) {
                                    //     if(!NotValid) {
                                    //         NotValid = false;
                                    //         var dt = callData;
                                    //         _.each(dt,function(e,i){
                                    //             _.each(e,function(ex,ix){
                                    //                 if((ix != "Id" && ix != "SNo" && ix != "Amount" && ix != "POS") && ex == "" && parseInt(ex) != 0){
                                    //                    NotValid = true;
                                    //                   }
                                    //               });
                                    //         });
                                    //              if(NotValid){
                                    //                 NotValid = false
                                    //              swal("Warning","Please complete all fields","warning");
                                    //                     return;
                                    //         }
                                    //     }
                                    // } else if(!NotValid) {

                                        ajaxPost(url+"/update",callData, function(res){
                                            yo.success(res.data);
                                            swal("Success","Data saved","success");
                                            getData()
                                        });
                                    // }
                                 },
                                create: function(yo){

                                    NotValid = false;
                                            var dt = callData;
                                            _.each(dt,function(e,i){
                                                _.each(e,function(ex,ix){
                                                    if((ix != "Id" && ix != "SNo" && ix != "Amount" && ix != "POS") && ex == "" && parseInt(ex) != 0){
                                                       NotValid = true;
                                                      }
                                                  });
                                            });
                                                 if(NotValid){
                                                    NotValid = false
                                                 swal("Warning","Please complete all fields","warning");
                                                        return;
                                            }

                                    var data = $('#bottomgrid').data('kendoGrid').dataSource.data();
                                    var rowChange = $.grep(data, function(item) {
                                        return item.dirty
                                    });

                                    var notValidGlobal = false
                                    $.each(rowChange, function(k, v){
                                        _.each(v, function(k1, v1){
                                            if((v1 != "Id" && v1 != "SNo" && v1 != "Amount" && v1 != "POS") && k1 == "" && parseInt(k1) != 0){
                                                notValidGlobal = true
                                            }
                                        })
                                    })

                                    var callData = [];

                                    for(var i in yo.data["models"]){
                                        var dt = yo.data["models"][i];
                                        dt["CustomerId"] = filter().CustomerSearchVal()
                                        dt["DealNo"] = filter().DealNumberSearchVal()
                                        callData.push(dt);
                                    }

                                    // if(notValidGlobal) {
                                    //     if(!NotValid) {
                                    //         NotValid = false;
                                    //         var dt = callData;
                                    //         _.each(dt,function(e,i){
                                    //             _.each(e,function(ex,ix){
                                    //                 if((ix != "Id" && ix != "SNo" && ix != "Amount" && ix != "POS") && ex == "" && parseInt(ex) != 0){
                                    //                    NotValid = true;
                                    //                   }
                                    //               });
                                    //         });
                                    //              if(NotValid){
                                    //                 NotValid = false
                                    //              swal("Warning","Please complete all fields","warning");
                                    //                     return;
                                    //         }
                                    //     }
                                    // } else if(!NotValid) {
                                        // NotValid = false;
                                        //     var dt = callData;
                                        //     _.each(dt,function(e,i){
                                        //         _.each(e,function(ex,ix){
                                        //             if((ix != "Id" && ix != "SNo" && ix != "Amount" && ix != "POS") && ex == "" && parseInt(ex) != 0){
                                        //                NotValid = true;
                                        //               }
                                        //           });
                                        //     });
                                        //          if(NotValid){
                                        //             NotValid = false
                                        //          swal("Warning","Please complete all fields","warning");
                                        //                 return;
                                        //     }

                                        ajaxPost(url+"/create",callData, function(res){
                                            yo.success(res.data);
                                            swal("Success","Data saved","success");
                                            getData()
                                        })
                                    //}

                                    // var data = $('#bottomgrid').data('kendoGrid').dataSource.data();
                                    // var dirty = $.grep(data, function(item) {
                                    //     return item.dirty
                                    // });
                                    // // Dirty array contains those elements modified
                                    // console.log("dirty", dirty);
                                    // this.update()
                                    // console.log("create", yo)
                                    // var dirty = $('#bottomgrid').data('kendoGrid').dataSource.hasChanges();
                                    // if(!dirty){
                                    //     swal("Warning","Data has no changes","warning");
                                    //                 return;
                                    // }

                                    // var callData = [];
                                    //  for(var i in yo.data["models"]){
                                    //     var dt = yo.data["models"][i];
                                    //     dt["CustomerId"] = filter().CustomerSearchVal()
                                    //     dt["DealNo"] = filter().DealNumberSearchVal()
                                    //     callData.push(dt);
                                    // }

                                    // if(!NotValid) {

                                    //     NotValid = false;
                                    //      var dt = callData;
                                    //         _.each(dt,function(e,i){
                                    //             _.each(e,function(ex,ix){
                                    //                   if((ix != "Id" && ix != "SNo" && ix != "Amount" && ix != "POS") && ex == "" && parseInt(ex) != 0){
                                    //                     NotValid = true;
                                    //                   }
                                    //               });
                                    //         });

                                    //         if(NotValid){
                                    //              swal("Warning","Please complete all fields","warning");
                                    //                     return;
                                    //         }

                                    //      ajaxPost(url+"/create",callData, function(res){
                                    //             yo.success(res.data);
                                    //              swal("Success","Data saved","success");
                                    //              getData()
                                    //              //CreateBottomGrid(filter().CustomerSearchVal(), filter().DealNumberSearchVal())

                                    //     });
                                    // }
                                },
                            },
                            batch: true,
                            // pageSize: 10,
                            schema: {
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, nullable: true },
                                        SNo: { editable: false, nullable: true },
                                        Bank: { validation: {  } },
                                        TypeOfLoan: { validation: {  } },
                                        BSLStatus: { validation: {  } },
                                        LoanStatus: { validation: {  } },
                                        Amount: { type: "number"},
                                        POS: {editable: false, type: "number"},
                                        EMI: { type: "number", validation: {  min: 1} },
                                        LoanTenor: { type: "number", validation: {  min: 1} },
                                        LoanStart: { defaultValue: null ,type: "date", validation: { } },
                                        LoanEnd: { defaultValue: null,type: "date", validation: { } },
                                        EMIDue: { editable: false, type: "number", validation: { } },
                                        EMIBalance: { editable: false, type: "number", validation: {  min: 0} },
                                        Bounces: { editable: false, type: "number" },
                                        YearlyRepayment: { editable: false, type: "number" },
                                        Month0: {},
                                        Month1: {},
                                        Month2: {},
                                        Month3: {},
                                        Month4: {},
                                        Month5: {}
                                        //Bounces: { validation: {  } },
                                    }
                                }
                            }
                        });

    $("#bottomgrid").html("");
    if(confirmed()){
        $("#bottomgrid").kendoGrid({
            dataSource: dataSource,
            height:350,
            navigatable: true,
            pageable: false,
            toolbar: ["create", "save", "cancel"],
            columns : col,
             editable: false,
             edit: function(e){
                if(e.model.isNew()){
                    // console.log(e)
                    //var pos = e.container.find("input[name=POS]")
                    //pos.enable(true)
                    $(e.container).find('input[name="POS"]').attr("readonly", true);
                }
             },
             dataBound: function (e) {
                    $("#bottomgrid").find(".tooltipster").tooltipster({
                        trigger: 'hover',
                        theme: 'tooltipster-val',
                        animation: 'grow',
                        delay: 0,
                        position: 'top',
                    });
                    var grid = this;
                    if (!$.isEmptyObject(lastEditIndex)) {
                        var cell = grid.tbody.children().eq(lastEditIndex.row).children().eq(lastEditIndex.col);
             
                        grid.current(cell);
                        grid.table.focus();
                    }
                }
        });
        $('.btn-danger').hide()
        $('td').css("background-color","rgb(238, 238, 238)")
    } else{
        $("#bottomgrid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: false,
            height:350,
            toolbar: ["create", "save", "cancel"],
            columns : col,
             editable: {
                createAt: "bottom"
             },
             edit: function(e){
                if(e.model.isNew()){
                    // console.log(e)
                    //var pos = e.container.find("input[name=POS]")
                    //pos.enable(true)
                    $(e.container).find('input[name="POS"]').attr("readonly", true);
                }
             },
             change: function(e){
                refresh(this);
             },
             dataBound: function (e) {
                    $("#bottomgrid").find(".tooltipster").tooltipster({
                        trigger: 'hover',
                        theme: 'tooltipster-val',
                        animation: 'grow',
                        delay: 0,
                        position: 'top',
                    });

                    var grid = this;
             
                    // grid.current(cell);
                    grid.table.focus();
                }
        });
        $('.btn-danger').show()
    }

    $(".k-grid-cancel-changes").attr("class","btn btn-sm btn-reset k-grid-cancel-changes mgright pull-left");
    $(".k-grid-cancel-changes").text("Cancel");

    $(".k-grid-save-changes").attr("class","btn btn-sm btn-save k-grid-save-changes mgright pull-left");
    $(".k-grid-save-changes").text("Save");

    $(".k-grid-add").attr("class","btn btn-sm btn-add k-grid-add mgright pull-left");
    $(".k-grid-add").text("Add");

}

function bslsDropDownEditor(container, options) {
    // console.log(options.model)
    $('<input data-text-field="Text" data-value-field="Text" data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                filter: "contains",
                dataTextField: "Text",
                dataValueField: "Text",
                dataSource: [{"Value":"BSL","Text":"BSL"},{"Value":"PBSL","Text":"PBSL"}],
                optionLabel: "Select one..",

            });
}

function bouncesDropDownEditor(container, options) {
    $('<input data-text-field="Text" data-value-field="Text" data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                filter: "contains",
                dataTextField: "Text",
                dataValueField: "Text",
                // valueField: "Clear",
                dataSource: [{"Value":"Clear","Text":"Clear"},{"Value":"Not Start","Text":"Not Start"},{"Value":"DPD15","Text":"DPD15"},{"Value":"DPD30","Text":"DPD30"},{"Value":"DPD30+","Text":"DPD30+"}],
                // index: 0
                optionLabel: "Select one..",
                change: monthValue
    
                // }
                // }

            });
}

function loanStatusDropDownEditor(container, options) {
    $('<input data-text-field="Text" data-value-field="Text" data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                filter: "contains",
                dataTextField: "Text",
                dataValueField: "Text",
                dataSource: [{"Value":"Closed","Text":"Closed"},{"Value":"Live","Text":"Live"},{"Value":"Balance Transfer","Text":"Balance Transfer"}],
                optionLabel: "Select one.."
            });
}

function typeOfLoanDropDownEditor(container, options) {
    $('<input data-text-field="Text" data-value-field="Text" data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                filter: "contains",
                dataTextField: "Text",
                dataValueField: "Text",
                dataSource: [{"Value":"Type of Loans","Text":"Type of Loans"},{"Value":"Auto Loan","Text":"Auto Loan"},{"Value":"Bill Discounting","Text":"Bill Discounting"},{"Value":"Business Loan","Text":"Business Loan"},{"Value":"Commercial Vehicle","Text":"Commercial Vehicle"},{"Value":"Currency Loans","Text":"Currency Loans"},{"Value":"Equipment Loan","Text":"Equipment Loan"},{"Value":"Home Loan","Text":"Home Loan"},{"Value":"Letter of Credit","Text":"Letter of Credit"},{"Value":"Loan Against Receivables","Text":"Loan Against Receivables"},{"Value":"Loan Against Securities","Text":"Loan Against Securities"},{"Value":"Mortgage Loan (LAP)","Text":"Mortgage Loan (LAP)"},{"Value":"OD/CC","Text":"OD/CC"},{"Value":"Packing Credit","Text":"Packing Credit"},{"Value":"Personal Loan","Text":"Personal Loan"},{"Value":"Term Loan (EMI)","Text":"Term Loan (EMI)"}],
                optionLabel: "Select one.."
            });
}

function confirm(){
    var data = $('#bottomgrid').data('kendoGrid').dataSource.data();
    _.each(data, function(k, v){
        if(data[v].Confirmed){
            data[v].Confirmed = false;
        }else{
            data[v].Confirmed = true;
            data[v].DateConfirmed = new Date()
        }
    })
    ajaxPost("/rtr/update",data, function(res){
        // yo.success(res.data);
        swal("Success","Data saved","success");
        getData()
    });
}

function monthValue(e){
    var data = $("#bottomgrid").data("kendoGrid").dataSource.data();
    $.each(data, function(i, items){
        ArrDPD([])
        console.log(items["Month"+0])
        $.each(items.Months, function(w, month){
            if((items["Month"+w]).indexOf("DPD") != -1){
                ArrDPD.push((items["Month"+w]))
            }
        })

        items["Bounces"] = ArrDPD().length
        $("#bottomgrid tbody>tr").eq(i).find("td:eq(20)").text(items.Bounces)
    })
    
}

$(document).ready(function(){
    $('.tooltip').tooltipster();

    //CreateBottomGrid();

    $("#topgrid").hide();
    $("#bottomgrid").hide();
})

function refreshFilter(){
    $("#topgrid").show();
    $("#bottomgrid").show();
    // $("body").css("overflow", "hidden");

    getData()

}

</script>

<style type="text/css">
    .mgright{
        margin-right: 10px;
    }
    .k-icon {
        display: none;
    }
</style>