<script type="text/javascript">
model.PageTopMenu("Data Entry");
model.PageId('{{.Menuname}}');
model.BreadCrumbs.push(new BreadCrumb("Data Entry", "Data Entry ", "#", "", ""));
model.BreadCrumbs.push(new BreadCrumb('{{.Menuname}}', '{{.Menuname}}', "#", "active", ""));
model.Access = ko.observable('{{.Menuid}}');
model.View = ko.observable('{{.View}}');
model.Create= ko.observable('{{.Create}}');
model.Delete= ko.observable('{{.Delete}}');
model.Process= ko.observable('{{.Process}}');
model.Edit= ko.observable('{{.Edit}}')
model.User= ko.observable('{{.Username}}');
// $('#btnconfirm').hide()
</script>

<script src="/static/core/internalrtr.js"></script>

<style>
  .SFFB{
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ebebeb;
    padding: 3px;
    margin-bottom: 5px;
  }
  .k-grid-cancel-changes {
    margin-right : 10px;
  }
  .k-grid-save-changes{
    margin-right : 10px;
  }
  .k-grid-edit-changes{
    margin-right : 10px;
  }
  .banksdata-action{
    margin-right : 10px;
    margin-top: -5px;
  }
  .k-grid  .k-grid-header  .k-header  .k-link {
      height: auto;
  }
  .headerdatabankgrid{
    text-align: center;
  }
  #toptables1 > div > div.k-grid-content > table > tbody > tr {
    background-color: #eee;
  }

  #toptables2 > div > div.k-grid-content > table > tbody > tr {
    background-color: #eee;
  }

  #toptables3 > div > div.k-grid-content > table > tbody > tr {
    background-color: #eee;
  }

  #toptables4 > div > div.k-grid-content > table > tbody > tr {
    background-color: #eee;
  }

   #toptables5 > div > div.k-grid-content > table > tbody > tr {
    background-color: #eee;
  }
   #toptables6 > div > div.k-grid-content > table > tbody > tr {
    background-color: #eee;
  }

  button.saveupdate {
    margin-right:10px;
  }
  @media (min-width: 768px){
    .modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
}
.form-last-confirmation-info {
  padding-bottom: 10px;
  text-align: right;
  font-style: italic;
  color: #27ae60;
  margin-right: 20px;

}

.headernfb{
      background-color: rgba(119, 119, 119, 0.75);
      color:white;
      text-align : center;
}

.headersecfb{
  background-color: #f5f5f5;
  color:black;
  text-align : center;
}
.k-grid  .k-grid-header  .k-header {
    white-space: normal;
}
#topgrid
{
   min-width: 500px;
}
div.k-grid-header > div > table > thead > tr:nth-child(1) > th  {
		background-color: rgb(57,125, 129) !important;
		color: #fff !important;
	}

	div.k-grid-header > div > table > thead > tr:nth-child(2) > th {
		background-color: rgb(195, 220, 236) !important;
		color: rgb(32,63,83) !important;
		/*overflow-y: hidden !important;*/
	}
.satu{
	border-top: 1px solid #f1f1f1;
	padding: 33px
}
.k-grid-content {
	overflow-y: hidden !important;
}
.k-grid-header{
	padding-right: 0px !important;
}

</style>

{{template "filter.html"}}


<div data-bind="with: intrtr.form">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="panel ez">
			<!-- <div class="panel-heading"><h3 class="no-margin">Banking Analysis</h3></div> -->
			<!-- <div class="panel-heading"><h4 data-bind="html: model.currentTitle()" style="margin-top: 4px">&nbsp;</h4></div> -->
      		<div class="panel-heading"><h4 style="margin-top: 4px">&nbsp;</h4></div>
      		<div class="form-last-confirmation-info"></div>
			<div class="panel-body" style="margin-top: -63px">
				<div class="clearfix"></div>
				<div class="col-md-7">
					<!-- <div id="toptables1">
						<div id="accountdetail"></div>
					</div> -->
					<div class="col-sm-12">
						<div class="col-md-8">
							<div class="form-group">
								<label class="col-md-2 form-label align-right">Product </label>
								<div class="col-md-6">
									<input class="input-sm form-control noable" data-bind="value: Product" readonly />
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<label class="col-md-2 form-label align-right">Scheme </label>
								<div class="col-md-6">
									<input class="input-sm form-control noable" data-bind="value: Scheme" readonly/>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<!-- </div> -->
				<div class="col-md-5">
					<div class="pull-right">
						<button class="btn btn-sm btn-confirm separator" style="margin-right: inherit;">Confirm All</button>
						<button class="btn btn-sm btn-freeze separator" style="margin-right: inherit;">Freeze</button>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel-body satu">
					<div class="clearfix"></div>
					<!-- <div class="col-sm-12"> -->
						<div id="toptables2">
							<div id="topgrid"></div>
						</div>
					<!-- </div>	 -->
				</div>
				<div class="panel-body satu">
					<div class="clearfix"></div>
					<!-- <div class="col-sm-12"> -->
						<div id="toptables2">
							<div id="unselect"></div>
						</div>
					<!-- </div>	 -->
				</div>
				<div class="panel-body" data-bind="visible: (intrtr.showDetails() == true)" style="padding: 33px">
					<div class="clearfix"></div>
					<!-- <div class="col-sm-12"> -->
						<div id="toptables2">
							<div id="bottomgrid"></div>
						</div>
					<!-- </div>	 -->
				</div>
			</div>
		</div>
	</div>
</div>