<div class="panel-default content no-padding">
	<div class="panel-heading text-center">Outstanding Debt</div>
	
	<div class="panel-body text-center">
		<div class="col-md-6 no-padding" style="padding-right: 4px;">
			<div><span type="text" class="number-label" disabled data-bind="text: 0" /></div>
			<div><label>EMI Bounce</label></div>
			<div><label>(Last 6 months)</label></div>
		</div>

		<div class="col-md-6 no-padding" style="padding-left: 4px;">
			<div><span type="text" class="number-label" disabled data-bind="text: 0" /></div>
			<div><label>Monthly EMI Obligation</label></div>
			<div><label>(Unsecured & Term Loans)</label></div>
		</div>
	</div>
</div>

